
@{
	ViewBag.Title = "Apple";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
	.hero {
		transition: transform 0.2s ease-in-out;
		overflow: hidden;
	}

		.hero:hover {
			transform: scale(1.01);
		}

		.hero .btn:hover {
			transform: scale(1.02);
		}

		.hero figure {
			object-fit: cover;
		}

	.btn {
		transition: transform 0.1s ease-in-out;
	}
</style>
<div class="hero img-fluid" href="#" style="position:relative;">
	<figure style=" background-image: url(/DeviceAppleImage/hero_ipad.jpg);width:100vw; margin:auto; min-height:55vh; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; ">
	</figure>
	<div class="hero-text" style=" text-align: center; position: absolute; top: 20%; left: 70%; transform: translate(-50%, -50%); color: black;">
		<strong style="font-size:50px">iPad</strong>
		<h4>Lovable. Drawable. Magical.</h4>
		<div class="hero-link justify-content-evenly" style="display:flex; justify-content:center; gap:10px;">
			<a class="btn btn-outline-dark" href="~/category/device/2">Buy now</a>

		</div>
	</div>
</div>
<div class="hero" href="#" style="position:relative;">
	<figure class="" style=" background-image: url(/DeviceAppleImage/hero_iphone.jpg); width: 100vw; margin: auto; min-height: 75vh; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; ">
	</figure>
	<div class="hero-text" style=" text-align: center; position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); color: white;">
		<strong style="font-size:50px">iPhone</strong>
		<h4>Probeyond</h4>
		<div class="hero-link justify-content-evenly" style="display:flex; justify-content:center; gap:10px;">
			<a class="btn btn-outline-light" href="~/category/device/1">Buy now</a>
		</div>
	</div>
</div>
<div class="col mt-2">
	<div class="row">
		<div class="col-lg-6 col-md-12 hero" href="#" style="position:relative;">
			<figure class="" style=" background-image: url(/DeviceAppleImage/hero_applewatch.jpg);height: 700px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; ">
			</figure>
			<div class="hero-text" style=" text-align: center; position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); color: black;">
				<strong style="font-size:50px">Apple Watch</strong>
				<h4>Adventure waits</h4>
				<div class="hero-link justify-content-evenly" style="display:flex; justify-content:center; gap:10px;">
					<a class="btn btn-outline-dark" href="~/category/device/5">Buy now</a>

				</div>
			</div>
		</div>
		<div class="hero col-lg-6 col-md-12" href="#" style="position:relative;">
			<figure class="" style=" background-image: url(/DeviceAppleImage/hero_airpod.jpg);height: 700px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; ">
			</figure>
			<div class="hero-text" style=" text-align: center; position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); color: white;">
				<strong style="font-size:50px">Airpod Pro</strong>
				<h4>Rebuilt from the sound up.</h4>
				<div class="hero-link justify-content-evenly" style="display:flex; justify-content:center; gap:10px;">
					<a class="btn btn-outline-light" href="#">Buy now</a>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="col">
	<div class="row">
		<div class="col-lg-6 col-md-12 hero" href="#" style="position:relative;">
			<figure class="" style=" background-image: url(/DeviceAppleImage/hero_ipadpro.jpg);height: 700px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; ">
			</figure>
			<div class="hero-text" style=" text-align: center; position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); color: white;">
				<strong style="font-size:50px">iPad Pro</strong>
				<h4>Supercharged By <span class=" btn btn-outline-light">M2</span></h4>
				<div class="hero-link justify-content-evenly" style="display:flex; justify-content:center; gap:10px;">
					<a class="btn btn-outline-light" href="#">Buy now</a>

				</div>
			</div>
		</div>
		<div class="hero col-lg-6 col-md-12" href="#" style="position:relative;">
			<figure class="" style=" background-image: url(/DeviceAppleImage/hero_accessories.jpg);height: 700px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; ">
			</figure>
			<div class="hero-text" style=" text-align: center; position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); color: black;">
				<strong style="font-size:50px">Accessories</strong>
				<h4>Mix. Match. MagSafe.</h4>
				<div class="hero-link justify-content-evenly" style="display:flex; justify-content:center; gap:10px;">
					<a class="btn btn-outline-dark" href="#">Buy now</a>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero" href="#" style="position:relative;">
	<figure class="" style=" background-image: url(/DeviceAppleImage/hero_macbook.jpg); width: 100vw; margin: auto; min-height: 100vh; background-position: center; background-repeat: no-repeat; background-size: auto; position: relative; background-color: #000;">
	</figure>
	<div class="hero-text" style=" text-align: center; position: absolute; top: 15%; left: 50%; transform: translate(-50%, -50%); color: white;">
		<strong style="font-size:50px;">Macbook Pro</strong>
		<h4>Pro anywhere.</h4>
		<div class="hero-link justify-content-evenly" style="display:flex; justify-content:center; gap:10px;">
			<a class="btn btn-outline-light" href="#">Buy now</a>
		</div>
	</div>
</div>