
@{
    ViewBag.Title = "NotFound";
}
<style>
    .hero{
        min-height:80vh;
    }
</style>
<div class="hero container-fluid">
    <h1 class="text-center">Result for "@ViewBag.name"</h1>
	<h2 class="text-center mt-5">
		Sorry, no matches were found.<br />
		Please try a different search.
	</h2>
</div>

